<!DOCTYPE html>
<html>
<head>
    <title>구구단 만들기_ver2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div>
    <form method="post">
        <fieldset>
            <label for="startRowNumber">첫 단 : </label> 
            <input id="startRowNumber" name="startRowNumber"><br/>
            <label for="endRowNumber">마지막 단 : </label>
            <input id="endRowNumber" name="endRowNumber"><br/>
            <label for="endColumnNumber">마지막 곱할 수 : </label>
            <input id="endColumnNumber" name="endColumnNumber"><br/>
            <button type="button">계산</button>
        </fieldset>
    </form>
</div>

<div id="resultDiv"></div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
<script>
	
	$("button").on('click', function () {  // button을 클릭하면 실행되는 함수
		var param = { // param으로 인풋값들을 받는다.
				'startRowNumber' : Number($("#startRowNumber").val()),
				'endRowNumber' : Number($("#endRowNumber").val()),
				'startColumnNumber' : Number("1"),
				'endColumnNumber' : Number($("#endColumnNumber").val())
		};
		
		if(param.startRowNumber > param.endRowNumber) {
			alert("첫째 단이 마지막 단보다 작아야 합니다.");
		}
	
		$.ajax({
			url : "/",
			data : param,
			type : "POST", // post방식의 "/" url로 param 데이터를 넘긴다. 
			success : function(tableValue) { 
				// 데이터를 넘기는 것을 성공하면 return 값을 tableValue로 받고 실행
				printMultiplicationTable(tableValue, param);  // 함수 호출
			}
		
		});
	});
	
	function printMultiplicationTable(tableValue, param) {
		var value = JSON.parse(tableValue); // 컨트롤러에서 보낸 String을 JSON 형태로 받는다.
		var src = "";
		
		src += "<table border = 1>";
		src += "<tr>";
	    for (k = param.startRowNumber; k <= param.endRowNumber; k++) {
	        for (i = param.startRowNumber; i <= k; i++) {
	        	src += "<td>";
	            for (j = param.startColumnNumber; j <= param.endColumnNumber; j++) {
	                var color = (i % 2 == 1) ? "<font color=blue>" : "<font color=orange>";
	                src += color + value[i][j] + "<br/>";
	            }
	            src += "</td>";
	        }
	        src += "</tr>";
	    }
	    src += "</table>";
		   
		// div 태그의 id="resultDiv" 영역에 결과를 출력한다.
	    $("#resultDiv").html(src); 
	}

</script>
</body>
</html>